TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
CHECK_INTERVAL=5
TARGET_URL=https://shop.weverse.io/es/shop/USD/artists/2/sales/54189?shopAndCurrency=USD&artistId=2&saleId=54189
USE_PLAYWRIGHT=False
